<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
<div>
    <p>Congratulation!!!</p>
    <p>You log in to your account</p>
    <p>Your information:</p>
    <p>Your email:{{email}}</p>
    <p>Your password:{{password}}</p>
    <button><a href="/users">All users</a></button>
</div>
</body>
</html>