extends template
block content
    div.content
        h1.title Hello #{userName}!
        br
        | Please verify your account,
        | just click on the link
        br
        a(href='https://google.com') Verify