doctype html
html
    head
        style
            include style.css

    body
        div.header
            h3 CompanyName
        div
            block content

        div.footer
            |Our contact:

            | company@gmail.com

            | +9999999999999

            | Facebook

